@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Black.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('/src/fonts/Raleway-Light.ttf') format('woff2');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway-Light';
    font-weight: 900;
    color: rgb(255, 155, 6);
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.562);
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    margin-right: 20px;
    cursor: pointer;
}

.main-container {
    display: flex;
    max-width: 1920px;
}

.order-menu {
    width: 70%;
    height: 2000px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.order-head img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.order-element {
    margin-top: 50px;
}

.menu {
    margin-bottom: 20px;
    background-color: rgba(255, 204, 63, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.562);
    padding: 20px 10px;
    border-radius: 10px;
}

.add-remove {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.add-remove button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-left: 5px;
}

.shopping-basket {
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    padding: 20px;
}

.empty-cart {
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;    
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.562);
    border-radius: 10px;
}

.empty-cart h2 {
    margin: 20px 0px;
}

footer {
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}