@font-face {
    font-family: 'Raleway';
    src: url('/src/fonts/Raleway-Black.ttf') format('woff2');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('/src/fonts/Raleway-Light.ttf') format('woff2');
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway-Light';
    font-weight: 900;
    color: rgb(255, 155, 6);
}

header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.562);
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

li {
    list-style: none;
}

.d-none {
    display: none;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav li {
    margin-right: 20px;
    cursor: pointer;
}

.main-container {
    display: flex;
    margin-left: auto;
}

.order-menu {
    width: 70%;
    height: 1000px;
    padding: 20px 150px;
}

.order-menu-head img {
    height: 150px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.order-element {
    margin-top: 50px;
}

.menu {
    margin-bottom: 20px;
    background-color: rgba(255, 204, 63, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.562);
    padding: 20px 10px;
    border-radius: 10px;
}

.add {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
    padding-right: 10px;
}

.add button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.order {
    z-index: 21;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    max-width: 450px;
    border-radius: 10px;
    background-color: white;
    margin: 200px 200px;
    padding: 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.order-head {
    display: flex;
    flex-direction: column;
}

.order-head img {
    width: 150px;
}

.order-btn,
.order-menu-type,
.order-discription,
.order-menu-price,
.order-head img {
    margin-bottom: 20px;
}

.final-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.total-order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 200px !important;
    border-radius: 5% !important;
}

footer {
    height: 200px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.shopping-basket {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cart {
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

.shopping-basket h2 {
    margin: 20px 0px;
}

.order-hidden {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
}

.remove-item {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-amount {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .order-menu {
        padding: 20px 20px;
    }
}

@media (max-width: 750px) {
    .final-order {
        flex-direction: column;        
    }

    .amount-order {
        margin-bottom: 10px;
    }

    .order {
        margin: 20px 20px;
    }

    .header-inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 570px) {
    .cart-item-details p {
        font-size: 18px;
    }

    .total-order-btn {
        width: auto !important;
        padding: 10px 10px;
    }
}